<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>크림(Kream) 카테고리(추천) 링크</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <meta property="og:title" content="이듬(EUID)" />
    <meta property="og:url" content="https://likelion.net/" />
    <meta property="og:image" content="/src/assets/cover/euid-cover.png" />
    <meta property="og:image:alt" content="함께 성장하는 바른 교육 이듬과 멋사의 만남 - https://likelion.net/" />
    <meta property="og:description" content="이듬 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서 수강생으로 한 방향으로 흘러가는 지식 전달이 아닌, 함께 공감하고 이해하며 경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다." />
    <link rel="stylesheet" href="/src/pages/css/index.css" />
    <script type="module" src="/src/js/kream.js"></script>
  </head>
  <body class="m-10 bg-kream-white font-pretendard text-kream-primary dark:bg-kream-primary dark:text-kream-white">
    <section class="kream--recommand">
      <h2 class="sr-only">크림 추천 상품</h2>
      <!-- grid-cols-2였다가 sm(max-container) 화면 사이즈가 커지면 grid-cols-5로 나열 -->
      <ul class="sm:max-container grid grid-cols-2 gap-x-5 gap-y-3 text-p-sm sm:mx-auto sm:grid-cols-5" id="list1">
        <li>
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-01.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">남성추천</figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-02.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">여성추천</figcaption>
            </figure>
          </a>
        </li>

        <li class="hidden sm:block">
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-03.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">색다른 추천</figcaption>
            </figure>
          </a>
        </li>

        <li class="hidden sm:block">
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-04.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">정가 아래</figcaption>
            </figure>
          </a>
        </li>

        <li class="hidden sm:block">
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-05.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">트루릴리전 X 소버</figcaption>
            </figure>
          </a>
        </li>

        <li class="hidden sm:block">
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-06.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">구해요</figcaption>
            </figure>
          </a>
        </li>

        <li class="hidden sm:block">
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-07.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">KREAM 카드</figcaption>
            </figure>
          </a>
        </li>

        <li class="hidden sm:block">
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-08.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">봄 출근록</figcaption>
            </figure>
          </a>
        </li>

        <li class="hidden sm:block">
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-09.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">인기 일본 브랜드</figcaption>
            </figure>
          </a>
        </li>

        <li class="hidden sm:block">
          <a href="/" class="block">
            <figure class="min-w-57 flex flex-col items-center justify-center gap-2">
              <img class="rounded-lg bg-kream-secondary" src="/src/assets/kream/recommand/recommand-product-10.webp" alt="" width="525" height="230" />
              <figcaption class="shrink-0">이유 있는 베스트</figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <button type="button" data-list-id="list1" class="kream--more mx-auto my-4 flex items-center justify-center gap-1 rounded-sm border border-current p-1 align-middle text-p-sm sm:hidden">더보기</button>
    </section>
  </body>
</html>
